*{
    margin: 0;
}

body{
    background-color:wheat;
}

.header{
    background-color: chocolate;
    height: 100px;
    margin-top: 20px;
    border-style: solid none;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    flex: 2;
    margin-left: 10px;
    padding: 2%;
    font-size: 3em;
}
.loginpanel{
    flex: 1;
    margin-right: 10px;
    text-align: right;
    padding-right: 2%;
    font-size: 1.5em;
}
.loginpanel>a{
    color: black;
    background-color: white;
}
a:visited{
    color: black;
}

.page{
    display: flex;
    margin-top: 3%;

}

.sidebar{
    flex: 1;
    overflow: auto;
}

.main{
    flex: 7;
    display: flex;
    flex-direction: column;
    margin-right: 6%;
}


#recipe-view{
    display: flex;
    flex-direction: row;
}

#page-turn{
    flex: 2;
    text-align: center;
}

#page-turn>*{
    padding: 0.5em;
}

#recipe-per-page{
    flex: 0.2;
}

#recipe-per-page>input{
    width: 2em;
}

#recipes{
    display: grid;
    grid-template-columns: repeat(4,auto);
}





.recipe{
    height: 200px;
    width: 200px;
    display: grid;
    text-align: left;
    border-bottom: 3px solid black;
    padding: 2%;

}
ul{
    list-style: none;
}

